<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title><%= @page_title %> - <%= @config.website_title %></title>
    <link rel="stylesheet" href="./style.css"></link>
  </head>
  <body>
    <header>
      <h1><a href="./index.html"><%= @config.website_title %></a></h1>
      <h2><%= @page_title %></h2>
    </header>
    <nav>
      <a href="./index.html"><%= 'Main page' %></a>
      <a href="./categories.index.html"><%= 'Category index' %></a>
    </nav>
    <main>
      <%= @content %>
      <footer>Powered (generated) by TsMediaPage</footer>
    </main>
  </body>
</html>
