/* ------------ */
/* color scheme */
/* ------------ */

body {
    background-color: #111;
    color: #fff;
}

a, a:link, a:visited, a:hover, a:active {
    color: #9fe;
                               }

nav {
    border-color: #aaa;
}

header {
    border-color: #aaa;
    background-color: #101010;
}

li.Item a {
    color: #fff;
}

footer {
    color: #aaa;
    border-color: #888;
    background-color: #101010;
}
