/* ------------------- */
/* general page styles */
/* ------------------- */

* {
    font-family: "sans"
}

body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    margin: 0;
    padding-left: 1em;
    border-bottom: 1px solid;
    width: 100%;
    height: 2.5em;
}

nav {
    position: fixed;
    left: 0;
    top: 2.5em;
    border-right: 1px solid;
    height: 100%;
    width: 15%;
    padding-left: 1em;
    padding-top: 1em;
    overflow-y: auto;
}

nav a {
    display: block;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin-left: 15%;
    padding-left: 2em;
    padding-top: 3em;
    padding-right: 1em;
}

h1, h2 {
    display: inline
}

h1 {
    padding-right: 1em;
}

h2 {
    font-size: 1.1em;
}

footer {
    font-size: 0.7em;
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid;
}

a {
    text-decoration: none;
}

footer {
    display: block;
    width: 100%;
}


/* --------- */
/* org pages */
/* --------- */

/* item lists */

ul.ItemList {
    list-style-type: none;
    display: flex;
}

li.Item {
    width: 12em;
    max-width: 12em;
    text-align: center;
}

li.Item a {
    text-decoration: none;
    font-weight: bold;
}

li.Item a:hover {
    text-decoration: underline;
}

li.Item .ItemLinkText {
    font-size: 0.75em;
}

img.Thumbnail {
    width: 10em;
    max-width: 10em;
    display: block;
}


/* ----------- */
/* media pages */
/* ----------- */

.Media {
    text-align: center;
}

.Media audio, .Media video, .Media img {
    max-width: 60%;
}