<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title><%= @page_title %> - <%= @config.website_title %></title>
    <style type="text/css">
      body, section.Media {
          width: 100%;
          height: 100%;
          padding: 0;
          margin: 0;
      }

      audio, video, img {
          width: 100%;
      }
    </style>
  </head>
  <body>
    <section class="Media">
      <% if @audio_file %>
      <audio controls="controls">
        <% @media_links.each do |link| %>
        <source src="<%= link[:link] %>"
                type="<%= link[:mime_type]%>"></source>
        <% end %>
      </audio>
      <% end %>
      <% if @video_file %>
      <video controls="controls">
        <% @media_links.each do |link| %>
        <source src="<%= link[:link] %>"
                type="<%= link[:mime_type] %>"></source>
        <% end %>
      </video>
      <% end %>
      <% if @image_file %>
      <a href="<%= @media_links[0][:link] %>">
        <img src="<%= @media_links[0][:link] %>"
             type="<%= @media_links[0][:link] %>"></img>
      </a>
      <% end %>
    </section>
  </body>
</html>
