<section class="Media">
  <% if @audio_file %>
  <audio controls="controls">
    <% @media_links.each do |link| %>
    <source src="<%= link[:link] %>" type="<%= link[:mime_type]%>"></source>
    <% end %>
  </audio>
  <% end %>
  <% if @video_file %>
  <video controls="controls">
    <% @media_links.each do |link| %>
    <source src="<%= link[:link] %>" type="<%= link[:mime_type] %>"></source>
    <% end %>
  </video>
  <% end %>
  <% if @image_file %>
  <a href="<%= @media_links[0][:link] %>">
    <img src="<%= @media_links[0][:link] %>" type="<%= @media_links[0][:link] %>"></img>
  </a>
  <% end %>
</section>
<section class="Actions">
  <a href="<%= @iframe_page_link %>"><%= 'Link for embedding' %></a>
  <% if @config.torrents_enabled %>
  <a href="<%= @torrent_link %>"><%= 'Torrent link (TODO)' %></a>
  <% end %>
</section>
<section class="Metadata">
  <h3><%= @metadata.title %></h3>
  <% if @metadata.author %>
  <div class="Author"><%= @metadata.author %></div>
  <% end %>
  <% if @metadata.license %>
  <div class="License"><%= @metadata.license %></div>
  <% end %>
  <% if @metadata.categories %>
  <div class="Categories">
    <span><%= 'Categories:' %>
    <% @metadata.categories.each do |category| %>
    <a href="<%= category %>.category.html">
      <%= category %>
    </a>
    <% end %>
  </div>
  <% end %>
</section>
<article class="Description"><%= @metadata.description %></article>
<aside class="CategoryList">
  <% if (@metadata.categories) %>
    <ul class="Categories">
      <% @metadata.categories.each do |category| %>
      <li><%= category %></li>
      <% end %>
    </ul>
  <% end %>
</aside>
