<% if @description %>
<section>
  <%= @description %>
</section>
<% end %>
<% if @categories %>
<aside class="Categories">
  <h2><%= 'Categories:' %></h2>
  <ul class="CategoryList">
    <% @categories.each do |cat| %>
    <li class="CategoryItem">
      <a href="./<%= cat %>.category.html">
        <%= cat %>
      </a>
    </li>
    <% end %>
  </ul>
</aside>
<% end %>
<% if @items %>
<section class="Index">
  <% @items.each do |letter, pages| %>
  <% if letter.is_a?(String) %>
  <h3><%= letter.upcase() %></h3>
  <% end %>
  <ul class="ItemList">
    <% pages.each do |page| %>
    <li class="Item">
      <a href="<%= page.page_link %>">
        <img class="Thumbnail"
             src="./<%= File.basename(page.output_file_name) %>.thumb.jpg"></img>
        <span class="ItemLinkText"><%= page.metadata.title %></span>
      </a>
    </li>
    <% end %>
  </ul>
  <% end %>
</section>
<% else %>
<p><%= 'No media available!' %></p>
<% end %>
